* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.text_primary {
    color: #FD6E0A;
}

.btn_primary {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;

}

/* Header and Navigation Styles */
.header {
    background-color: #FFF8F3;
    background-image: url("../images/header_bg.png"), url("../images/developer.png");
    background-repeat: no-repeat;
    background-position: bottom right, left;
    margin: 0px;
    
}

.nav_bar {
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;
}

.nav_title {
    font-weight: 800;
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 50px;
}



/* banner styles */

.banner {
    display: flex;
    align-items: center;
    margin: 0 50px 0px 200px;
}

.banner_title {
    font-weight: 700;
    font-size: 85px;
    color: #181818;
}

.banner_sub_title {
    font-weight: 600;
    font-size: 45px;
    color: #474747;
    margin-bottom: 20px;
}

.banner_caption {
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
}

/* Main Section Styles */

main {
    max-width: 1140px;
    margin: 0 auto;
}

/* About Section Styles */

.about {
    margin-top: 130px;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}

.section_title {
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 30px;
    text-align: center;

}

.section_description {
    font-size: 18px;
    color: #474747;
    margin-bottom: 30px;
    text-align: center;
}

.about_info_container {
    display: flex;
    justify-content: space-around;
}

.about_info .info_title {
    font-size: 20px;
    color: #757575;
}

.about_info .info_description {
    font-weight: 700;
    font-size: 20px;
    color: #474747;
}

/* What I do Styles */

.what_i_do {
    margin-top: 130px;
}

.what_i_do .section_title{
    margin-bottom: 50px;
}

.skils_container {
    display: flex;
    margin-top: 50px;
    margin-bottom: 300px;
    justify-content: space-around;
}

.skills {
    max-width: 267px;
    padding: 30px;
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}

.skills_title{
    margin: 30px 0px;
    font-weight: 700;
    font-size: 20px;
    color: #181818;
}

.skills_description{
    color: #757575;
}